@font-face {
    font-family: DOSfont;
    src: url("https://github.com/chpalo/chpalo.github.io/blob/master/assets/fonts/DOSfont.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}
